body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  color: blue;
}

.equation-list-item {
  font-size: 3em;
  span {
    color: blue;
    width: 70px;
    display: inline-block;
    text-align: center;
  }
}
